<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column">
    <img class="centered-and-cropped" src="{{user.photoURL}}" width="150" height="150">
    <h3>Nickname: {{user.displayName}}</h3>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-form-field *ngIf="nickNameEdit">
    <input matInput placeholder="Enter a new nickname">
  </mat-form-field>
  <span matTooltip="Do it">
    <button *ngIf="nickNameEdit">
      <mat-icon color="primary">Check</mat-icon>
    </button>
  </span>
  <span matTooltip="Cancel">
      <button *ngIf="nickNameEdit">
          <mat-icon color="primary">Cancel</mat-icon>
      </button>
    </span>

  <span matTooltip="Change Your Nickname">
    <button mat-mini-fab color="primary">

    </button>
  </span>
  <span matTooltip="Change Your Profile Pic">
    <button mat-mini-fab color="primary">

    </button>
  </span>
  <input #fileInput type="file" (change)="chooseImage($event)" style="display: none;">
</div>
